* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #C2B2B4;
  color: #FFF;
  font-family: "Open Sans", Arial, sans-serif;
  text-align: center;
}

.title {
  padding-top: 15px;
  margin: 0px auto;
}

h1 {
  display: inline;
  font-size: 74px;
  letter-spacing: 5px;
}

.logo {
  margin: 0px 10px 0px 5px;
  height: 64px;
}

header {
  height: 500px;
}

header, .inputs {
  background-color: #3E2A35;

}

.inputs {
  height: 250px;
  width: 550px;
  margin: auto;

}

label {
  font-weight: 600;
}

.input-label {
  color: #938284;
  font-size: 21px;
  display: inline-block;
  float: left;
  margin: 10px 0px;
}

#input-title, #input-caption {
  display: block;
  margin: auto;
  width: 605px;
  height: 54px;
}

.button {
  width: 230px;
  height: 50px;
  border: none;
  background-color: #5B4447;
  color: #FFF;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 30px 0px;
}

.button:hover {
  background-color: #938284;
  cursor: pointer;
}

#add {
  margin-left: 42px;
}

#choose {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/*https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/*/


.cards {
  padding: 40px 70px;
}

.single-card {
  width: 220px;
  height: 330px;
  background-color: #FFF;
  border: 2px solid #938284;
}

/*Caption not accepting formats?*/
.single-card h2, .single-card p {
  color: #3E2A35;
  font-size: 15px;
  font-weight: lighter;
}

.card-title {
  border: 2px solid #FFF;
  background-color: #FFF;
  margin: 2px 0px;
  float: left;
  padding: 5px 0px 5px 5px;
}

.card-photo {
  width: 216px;
}

.card-caption {
  height: 80px;
  margin: 0px;
}

.card-footer {
  margin: 0px;
  height: 50px;
  background-color: #5B4447;
}
